@import '~antd/dist/antd.css';

html, body {
  font-family: 'PT Sans Narrow', sans-serif;
}

.App {
  background-color: grey;
}

.content-app {
  width: 95%;
  margin: 0 auto;
  background-color: white;
}